div.commandline
{
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #000000;
    color: #00AA00;

}
/*

Arduino Suggested Colors

Teal	      #00878F
Light Teal   #62AEB2
Orange	     #E47128
Yellow	     #E5AD24
Brown	     #8C7965

*/



.code
{
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 11pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #000000;/*333333;*/
    color: #00878F;


}

.preprocessorinclude
{
    color: #05e48f;
    font-weight: bold;
    font-size: 12pt;
}

.comment
{
    color: #8C7965;
    font-size: 12pt ;
}

.preprocessor
{
    color: #E5AD24;
    font-weight: bold;
    font-size: 12pt ;
}

.funcname
{
    color: #E5AD24;
    font-weight: bold;
    font-size: 12pt ;
}

.primitive
{
    color: #427ED2;
    font-weight: bold;
    font-size: 12pt ;
}

.keyword
{
    color: #00FFFF;
    font-weight: bold;
    font-size: 12pt ;
}

td.tableheader
{
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;

}

tr.tableheader
{
/*    display: block;*/
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;

}

div.anaside
{
    left: 200px;
    border: 1px solid #00878F;
    /*font-family: "Courier New", Courier, monospace;*/
    font-size: 10pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #E5AD24;
}