div.codeblock 
{
    border: 1px solid green;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #6A5743;
    color: #00878F;

/*

Arduino Suggested Colors

Teal	      #00878F
Light Teal   #62AEB2
Orange	     #E47128
Yellow	     #E5AD24
Brown	     #8C7965

*/


}

