div.commandline
{
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #000000;
    color: #00AA00;

}



div.code
{
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #333333;
    color: #62AEB2;

/*

Arduino Suggested Colors

Teal	      #00878F
Light Teal   #62AEB2
Orange	     #E47128
Yellow	     #E5AD24
Brown	     #8C7965

*/


}

div.keyword
{
    color: #E47128;
}

td.tableheader
{
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;

}

tr.tableheader
{
/*    display: block;*/
    border: 1px solid #00878F;
    font-family: "Courier New", Courier, monospace;
    font-size: 12pt ;
    padding: 8px 8px 8px 8px ;

}

div.anaside
{
    left: 200px;
    border: 1px solid #00878F;
    /*font-family: "Courier New", Courier, monospace;*/
    font-size: 10pt ;
    padding: 8px 8px 8px 8px ;
    background-color: #E5AD24;
}